{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
   
    {% tailwind_css %}

    {% block head %}{% endblock head %}

    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

   
    <title>{% block title %}New is Always Better{% endblock %}</title>
</head>
<body class="bg-secondary">
    <div class="header">
    {%include 'includes/header.html'%}
    </div>
    <div class="content">
        <main>
            {% block content %}{% endblock %}
        </main>            
    </div>
        {%include 'includes/footer.html'%}
</body>
</html>