<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tailwind Admin Starter Template : Tailwind Toolbox</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> <!--Replace with your tailwind.css once created-->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!--Totally optional :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
    <section>
        <div id="main" class="main-content flex-1 bg-primary mt-12 md:mt-2 pb-24 md:pb-5">

            <div class="bg-secondary pt-3">
                <div class="rounded-tl-3xl bg-tertiary p-4 shadow text-2xl text-black">
                    <button class="btn" onclick="changeContent('releases')">A paraître</button>
                    <button class="btn" onclick="changeContent('content2')">Prédictions</button>
                    <button class="btn" onclick="changeContent('content3')">Dashboard</button>
                </div>
            </div>

             <!-- Container -->
            <div class="container mx-auto p-4", id="content">
                
            </div>
        </div> 
    </section>

    <script>
        function changeContent(contentId) {
          var contentDiv = document.getElementById('content');
          if (contentId === 'releases') {
            contentDiv.innerHTML =
            `<h1 class="text-3xl font-bold text-center mb-8 tertiary-color">A paraître</h1>
            <div class="border-t border-white w-[75%] mx-auto pt-5"></div>
            <!-- Responsive Grid: 1 col on extra-small screens, 2 on small, 3 on medium, 4 on large, and 5 on extra-large screens -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
            
                {% for picture, title, synopsis in movie_list %}
                    <!-- Card 5 -->
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <img src={{ picture }}></img>
                        <h2 class="text-xl font-bold mb-2">{{ title }}</h2>
                        <p class="text-gray-600">{{ synopsis }}</p>
                    </div>
                {% endfor %}  
            </div>`;
          } else if (contentId === 'content2') {
            contentDiv.innerHTML =
            `<h1 class="text-3xl font-bold text-center mb-8 tertiary-color">Prédictions de la semaine : </h1>
            <div class="border-t border-white w-[75%] mx-auto pt-5"></div>
            <!-- Responsive Grid: 1 col on extra-small screens, 2 on small, 3 on medium, 4 on large, and 5 on extra-large screens -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
            
                {% for prediction in predictions %}
                    <!-- Card 5 -->
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <img src={{ prediction.picture_url }}></img>
                        <h2 class="text-xl font-bold mb-2">{{ prediction.title }}</h2>
                        <p class="text-gray-600">Affluence espérée : {{ prediction.predicted_affluence }}</p>
                    </div>
                {% endfor %}  
            </div>`;
          } else if (contentId === 'content3') {
            contentDiv.innerHTML =
              '<h2>Content 3</h2>' +
              '<p>This is the third content block, displaying yet another unique perspective for Button 3.</p>';
          }
        }
      </script>

{% endblock content %}
